<section>
    <input  [(ngModel)]="text" type="email"placeholder="search by name....." class="my-3 shadow-xs bg-white border border-gray-300 w-[50%] mx-auto text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light" required />

    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-10 ">
@for(product of products| searchData :text ; track $index){
    <div class="border-orange-100 cardHover border shadow rounded py-3  overflow-hidden">
 <div>
    <div>
        <img [src]="product.imageCover"[alt]="product.title" class="w-full">
    </div>
    <div class="ps-5">
        <h4 class="text-orange-500">{{product.category.name}}</h4>
        <h3>{{product.title.split(' ',3).join(' ')}}</h3>
        <div class="flex justify-between">
            <span>{{product.price}} EGP</span>
            <div class="flex items-center pe-3">
                <i class="fas fa-star text-green-500"></i>
                <span class="text-gray-500">{{product.ratingsAverage}}</span>
            </div>
        </div>
    </div>
 </div>
    <button (click)="addToCart(product._id)"class="bg-orange-400 card  text-white py-2 px-8  w-[90%] rounded block mx-auto">add to cart</button>
</div>

}
    </div>
</section>